@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");
html {
  font-size: 10px;
  font-family: 'Rubik', sans-serif; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.title {
  color: #F05454; }

header {
  background: #222831; }
  header .container {
    display: grid;
    height: 8rem;
    grid-template-columns: 20% 55% 45%;
    grid-template-rows: 20% 60% 20%; }
    header .container .logo {
      grid-row: 2; }
      header .container .logo .title {
        font-size: 2rem;
        text-align: center; }
    header .container .nav-menu {
      display: none; }
    header .container .nav-menu-hamburger {
      height: 5rem;
      padding: 1rem;
      grid-column: 4/3;
      grid-row: 2;
      z-index: 5; }
      header .container .nav-menu-hamburger input {
        display: none; }
      header .container .nav-menu-hamburger input:checked ~ ul {
        margin-top: 0.4rem;
        display: block;
        animation-play-state: running;
        animation-duration: .2s; }
      header .container .nav-menu-hamburger label {
        box-sizing: border-box;
        display: inline-block;
        border: 1px solid #F05454;
        color: #F05454;
        border-radius: 5px;
        margin-left: 4rem;
        width: 3rem;
        height: 3rem;
        line-height: 3rem;
        font-weight: bold;
        text-align: center;
        user-select: none; }
      header .container .nav-menu-hamburger__ul {
        list-style-type: none;
        display: none; }
        header .container .nav-menu-hamburger__ul__item {
          display: block;
          background: #222831;
          margin: 0;
          padding: 1.2rem;
          list-style: none;
          border-bottom: 1px solid white; }
        header .container .nav-menu-hamburger__ul__link {
          text-decoration: none;
          color: white;
          font-size: 1.4rem;
          transition: ease-out .5s;
          display: block; }
          header .container .nav-menu-hamburger__ul__link:hover {
            color: #F05454;
            transition: ease-in .3s; }

@media only screen and (min-width: 800px) {
  header .container {
    grid-template-columns: 10rem 60rem 12rem; }
    header .container .nav-menu-hamburger label {
      transform: scale(1.3); } }

@media only screen and (min-width: 1080px) {
  .nav-menu-hamburger {
    display: none; }
  header .container {
    grid-template-columns: 10rem 60rem 30rem; }
    header .container .nav-menu {
      display: block;
      grid-column: 3/5;
      grid-row: 2;
      height: 5rem;
      padding: 1rem;
      margin: 0 0 0 2rem; }
      header .container .nav-menu__ul {
        list-style-type: none;
        display: flex;
        justify-content: flex-end; }
        header .container .nav-menu__ul__item {
          margin: 0.8rem;
          width: 6.5rem; }
        header .container .nav-menu__ul__link {
          text-decoration: none;
          color: #DDDDDD;
          font-size: 1.4rem;
          transition: ease-out .5s;
          display: block; }
          header .container .nav-menu__ul__link:hover {
            color: #F05454;
            transition: ease-in .3s;
            transform: scale(1.1); } }

section {
  display: grid;
  justify-items: center;
  grid-template-rows: 10% 90%;
  grid-template-columns: 40% 60%;
  flex-direction: column; }
  section img {
    shape-outside: circle();
    margin: 1rem;
    width: 15rem;
    height: 15rem;
    grid-row: 2;
    border-radius: 50%;
    float: left; }
  section h2 {
    font-family: 'Courier New', Courier, monospace;
    border-bottom: 1px solid #F05454;
    align-self: center;
    grid-column: 1/3;
    margin: 2rem; }
    section h2 p {
      display: block;
      margin: 1rem;
      grid-row: 2;
      grid-column: 2;
      font-size: 1.1rem; }

@media (min-width: 1280px) {
  section h2 {
    font-family: 'Courier New', Courier, monospace;
    border-bottom: 1px solid #F05454;
    align-self: center;
    margin: 2rem; }
  section p {
    margin: 2rem;
    width: 100rem;
    font-size: 1.1rem; } }
