header {
    background: #222831;

    .container {
        display: grid;
        height: 8rem;
        grid-template-columns: 20% 55% 25%;
        grid-template-rows: 20% 60% 20%;

        .logo {
            grid-row: 2;
            .title {
                font-size: 2rem;
                text-align: center;
            }
        }

        .nav-menu {
            display: none;
        }
        .nav-menu-hamburger {
            height: 5rem;
            padding: 1rem;
            grid-column: 4/3;
            grid-row: 2;
            z-index: 5;

            input {
                display: none;
            }

            input:checked~ul {
                margin-top: 0.4rem;
                display: block;
                animation-play-state: running;
                animation-duration: .2s;
            }

            label {
                box-sizing: border-box;
                display: inline-block;
                border: 1px solid #F05454;
                color: #F05454;
                border-radius: 5px;
                margin-left: 4rem;
                width: 3rem;
                height: 3rem;
                line-height: 3rem;
                font-weight: bold;
                text-align: center;
                user-select: none;
            }

            &__ul {
                list-style-type: none;
                display: none;

                &__item {
                    display: block;
                    background: #222831;
                    margin: 0;
                    width: 9rem;
                    padding: 1.2rem;
                    list-style: none;
                    border-bottom: 1px solid white;
                }

                &__link {
                    text-decoration: none;
                    color: white;
                    font-size: 1.4rem;
                    transition: ease-out .5s;
                    display: block;

                    &:hover {
                        color: #F05454;
                        transition: ease-in .3s;
                    }

                }
            }
        }
    }
}

@media only screen and (min-width: 800px) {
    header {
    .container {
        grid-template-columns: 10rem 60rem 12rem;
        .nav-menu-hamburger {
        label {
            transform: scale(1.3);
        }
        }
    }
    }
}

@media only screen and (min-width: 1080px) {


    .nav-menu-hamburger {
        display: none;
    }

header {
    .container {
        grid-template-columns: 10rem 60rem 30rem;
        
    .nav-menu {
        display: block; 
        grid-column: 3/5;
        grid-row: 2;
        height: 5rem;
        padding: 1rem;
        margin: 0 0 0 2rem;

        &__ul {
            list-style-type: none;
            display: flex;
            justify-content: flex-end;


            &__item {
                margin: 0.8rem;
                width: 6.5rem;
            }

            &__link {
                text-decoration: none;
                color: #DDDDDD;
                font-size: 1.4rem;
                transition: ease-out .5s;
                display: block;

                &:hover {
                    color: #F05454;
                    transition: ease-in .3s;
                    transform: scale(1.1);
                }
            }
        }
    }
}
}
}