header {
    background: #222831;

    .container {
        display: grid;
        grid-template-columns: 10rem 20rem 10rem;

        .logo {
            .title {
                font-size: 2rem;
                text-align: center;
            }
        }

        .nav-menu {
            height: 5rem;
            padding: 1rem;
            grid-column: 4/3;
            z-index: 5;

            input {
                display: none;
            }

            input:checked~ul {
                margin-top: 0.4rem;
                display: block;
                animation-play-state: running;
                animation-duration: .2s;
            }

            label {
                box-sizing: border-box;
                display: inline-block;
                border: 1px solid #F05454;
                color: #F05454;
                border-radius: 5px;
                margin-left: 4rem;
                width: 3rem;
                height: 3rem;
                line-height: 3rem;
                font-weight: bold;
                text-align: center;
                user-select: none;
            }

            &__ul {
                list-style-type: none;
                display: none;

                &__item {
                    display: block;
                    background: #222831;
                    margin: 0;
                    padding: 1.2rem;
                    list-style: none;
                    border-bottom: 1px solid white;
                }

                &__link {
                    text-decoration: none;
                    color: white;
                    font-size: 1.4rem;
                    transition: ease-out .5s;
                    display: block;

                    &:hover {
                        color: #F05454;
                        transition: ease-in .3s;
                    }

                }
            }
        }
    }
}

@media (min-width: 1280px) {

    .nav-menu {
        height: 5rem;
        padding: 1rem;
        margin: 0 0 0 2rem;

        &__ul {
            list-style-type: none;
            display: flex;
            justify-content: flex-end;


            &__item {
                margin: 0.8rem;
                width: 6.5rem;
            }

            &__link {
                text-decoration: none;
                color: #DDDDDD;
                font-size: 1.4rem;
                transition: ease-out .5s;
                display: block;

                &:hover {
                    color: #F05454;
                    transition: ease-in .3s;
                    transform: scale(1.1);
                }

            }
        }
    }
}