section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    h2 {
        font-family: 'Courier New', Courier, monospace;
        border-bottom: 1px solid #F05454;
        align-self: center;
        margin: 2rem;

    }
    p {
        margin: 1rem;
        font-size: 1.1rem;
    }
}

@media (min-width: 1280px) {
    section {

        h2 {
            font-family: 'Courier New', Courier, monospace;
            border-bottom: 1px solid #F05454;
            align-self: center;
            margin: 2rem;
    
        }
        p {
            margin: 2rem;
            width: 100rem;
            font-size: 1.1rem;
        }
    }
}