section {
    display: grid;
    justify-items: center;
    grid-template-rows: 10% 90%;
    grid-template-columns: 40% 60%;
    flex-direction: column;
    img {
        shape-outside: circle();
        margin: 1rem;
        width: 12rem;
        height: 12rem;
        grid-row: 2;
        border-radius: 50%;
        float: left;
    }
    h2 {
        font-family: 'Courier New', Courier, monospace;
        border-bottom: 1px solid #F05454;
        align-self: center;
        grid-column: 1/3;
        margin: 2rem;

        p {
            display: block;
            margin: 1rem;
            grid-row: 2;
            grid-column: 2;
            font-size: 1.1rem;
        }
    }
}

@media (min-width: 1280px) {
    section {
        h2 {
            font-family: 'Courier New', Courier, monospace;
            border-bottom: 1px solid #F05454;
            align-self: center;
            margin: 2rem;
    
        }
        p {
            margin: 2rem;
            width: 100rem;
            font-size: 1.1rem;
        }
    }
}