@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

html {
    font-size: 10px;
    font-family: 'Rubik', sans-serif;
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

$colors: #F05454;

@each $color in $colors {
    .title {

        color: $color;
    }
}

@import "nav";